* {
    margin: 0;
    font-family: Roboto;
    box-sizing: border-box;
}
html {
    height: 100%;
    overflow: auto;
}
body {
    overflow: auto;
    min-height: 100vh;
    background-color: lightgrey;
}
p {
    color: grey;
}
.section-container {
    display: grid;
    grid-template-columns: 0.8fr 3fr;

}
.upper-main {
    display: grid;
    grid-template-rows: 1fr 1.2fr;
}
.upper-upper {
    display: grid;
    grid-template-columns: 3fr 1.3fr;
}
.search-bar {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-content: center;
    margin-left: 1rem;
}
.bell-section {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 2.4fr;
}
.bell-section .doge {
    height: 5rem;
    border-radius: 3rem;
}
.upper-lower{
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
}
.upper-lower-left {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 1rem;
}
.hello-text {
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.upper-lower-left img {
    border-radius: 50%;
    height: 9rem;
}
.upper-lower-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-right: 1rem;
    align-content: center;

}
.upper-lower-right button {
    height: 3rem;
    background-color: #2563EB;
    border-radius: 2rem;
    border: none;
}
input {
    width: 35rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: lightgrey;
    border: none;
    padding: 0.5rem;
}
.sidebar {
    background-color: #2563EB;
    height: 100vh;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding-left: 1rem;
}
.logo-container, .logo, .communities {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-content: center;
}
.communities {
    align-content: flex-start;
    margin-top: 0.5rem;
}
.sidebar, button {
    color: ghostwhite;
    font-size: 1.2rem;
    font-weight: bold;
}
.logo {
    font-size: 2rem;
}

.function-bar {
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    color: white;
}
.logo , .communities{
    grid-row: span 2;
}
.main-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr;
}
.upper-main {
    background-color: ghostwhite;
}
.lower-main {
    font-weight: bold;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.projects-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr repeat(3, 3.2fr);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 3rem;
}
.projects-text {
    grid-column: span 2;
    align-self: flex-end;
}
.project{
    border-left: 0.7rem solid firebrick;
    display: grid;
    grid-template-rows: 1fr 2.3fr 1fr;
    padding: 1rem;

}
.project, .announcement-box, .trending-box {
    background-color: ghostwhite;
    border-radius: 10px;
}
.information-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);

}
.announcements {
    display: grid;
    grid-template-rows: 1fr 5fr;
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 2rem;
}
.announcement-box {
    background-color: ghostwhite;
    border-radius: 10px;
    display: grid;
    padding-top: 1rem;
    grid-template-rows: repeat(3, 1fr);
}
.announcement {
    border-bottom: solid lightgrey;
    padding-left: 1rem;
    padding-right: 1rem;
}
.announcements-text {
    align-self: flex-end;
}
.trending {
    margin: 1rem 1rem 3rem;
    display: grid;
    grid-template-rows: 1fr 15fr;
    gap: 2rem;
}
.trending-text {
    align-self: flex-end;
}
.trending-box {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 1rem;
}
.trend {
    display: grid;
    grid-template-columns:1fr 2.5fr;
    align-items: center;
}
.trend img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
}